/* RESET AND BASE STYLES */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Luxurious+Script&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Reenie+Beanie&family=Satisfy&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  color: #333;
  background: #f0eadc;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* HEADER SECTION */
.header {
  background: transparent;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.nav-left {
  display: flex;
  gap: 30px;

  position: relative;
  z-index: 1000;
}

.nav-link {
  text-decoration: none;
  color: #2f2f2f;
  font-weight: 400;
  font-size: 15px;
  transition: color 0.3s ease;

  font-family: "Playfair Display", serif;
}

.nav-link:hover {
  color: #6b5b4784;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -170px;
  background: transparent;

  background: url("/images/navflower.png") no-repeat center center;
  background-size: contain;
  height: 400px;
  width: 400px;
  border-radius: 0%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img {
  width: 180px;
  height: auto;
  object-fit: contain;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-icons {
  display: flex;
  height: 100%;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1000;
}

.social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #6b5b477a;
  color: #000;
  display: flex;
  cursor: pointer;
  transition: background 0.3s ease;
  align-items: center;
  justify-content: center;
  padding: 3px;
  text-decoration: none;
}

.social-icon:hover {
  background: #8b735558;
}

.social-icon svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Style specific social icons */
.icon-facebook {
  width: 12px;
}

.icon-instagram {
  width: 18px;
}

.icon-youtube {
  width: 22px;
}

.icon-tiktok {
  width: 18px;
}

.icon-twitter {
  width: 18px;
}

.icon-pinterest {
  width: 18px;
}

.icon-cart {
  width: 20px;
}

/* ---------------------------- HERO SECTION ---------------------------- */
.hero {
  background: url("/images/hero-main.png") no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;

  margin-top: -50px;
  padding-bottom: 100px;
}

.hero-container {
  height: 100%;
  width: 95%;
  background: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 4rem 0;
  position: relative;
  z-index: 1;
  box-sizing: border-box;

  gap: 50px;
}

.hero-frame {
  width: 100%;
  height: 100%;
  background: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-frame .ornate-border {
  width: 100%;
  height: 100%;

  position: relative;
}

.hero-frame .ornate-border .hero-image {
  width: 100%;
  height: 100%;
  object-fit: contain;

  position: relative;
  z-index: 10;
}

.hero-overlay {
  width: 100%;
  height: 100%;
  object-fit: contain;

  position: absolute;
  bottom: 6%;
  z-index: 10;

  overflow: hidden;
}

.hero-overlay .img-2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ---------------------------- COLLECTIONS SECTION ---------------------------- */
.collections {
  background: #f0eadc;
  padding: 0px 0 0 0;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  position: relative;
}

.collections-left-flower {
  width: 500px;
  height: 500px;
  object-fit: contain;

  position: absolute;
  left: -100px;
  z-index: 10;
}

.collections-right-flower {
  width: 500px;
  height: 500px;
  object-fit: contain;

  position: absolute;
  right: -100px;
  z-index: 10;
}

.collections-header {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;

  height: 400px;

  margin-top: -200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 0px;
  box-sizing: border-box;

  position: relative;
}

.line {
  width: 100%;
  height: 2px;
  background: #8b7355;

  z-index: 0;
}

.line-left {
  width: calc(50% - 300px);
  height: 1px;
  background: #2f2f2f;

  position: absolute;
  left: 200px;
  top: 50%;
}

.line-right {
  width: calc(50% - 320px);
  height: 1px;
  background: #2f2f2f;

  position: absolute;
  right: 200px;
  top: 50%;

  z-index: 10;
}

.collections-round {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.collections-title {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 700;
  color: #8b7355;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* ---------------------------- STAMP SECTION ---------------------------- */

.stamp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 95%;
  padding: 0px;

  position: relative;
}

.stamp {
  width: 100%;
  height: 100%;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  position: relative;
}

.stamp-bg {
  width: 100%;
  height: auto;
  object-fit: contain;

  position: relative;
}

.stap-contaner {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  /* background-color: blue; */
}

.stamp-image {
  width: 45%;
  height: 95%;
  object-fit: contain;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  box-sizing: border-box;
}

.frame-image {
  width: 80%;
  height: 80%;
  object-fit: fill;

  position: absolute;
  z-index: 1;
}

.stamp-image-item {
  width: 70%;
  height: 70%;
  object-fit: cover;

  box-sizing: border-box;

  position: absolute;
  z-index: 0;
}

.stamp-text {
  width: 50%;
  height: 80%;
  background: transparent;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

  box-sizing: border-box;
}

.stamp-text-title {
  width: 100%;
  height: auto;
  background: transparent;

  display: flex;
  align-items: center;
  justify-content: start;
}

.stamp-text-title img {
  width: 100%;
  max-width: 150px;
  height: 100%;
  object-fit: contain;

  margin-bottom: 10px;
  padding-top: 1rem;
}

/* .stamp-text h3 {
  font-family: "Playfair Display", serif;
  font-size: 35px;
  font-weight: 700;
  color: #8b7355;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  text-align: start;
  width: 100%;
} */

.stamp-text p {
  font-size: 16px;
  line-height: 1.2;
  color: #0e0e0e;
  text-align: justify;
  font-weight: 300;
  font-family: "Reenie Beanie", cursive;
  width: 80%;
}

.navigation-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  position: relative;
  z-index: 1;
}

.swiper-collection-button-next {
  width: 60px;
  height: 40px;
  background: transparent;

  border-radius: 10px;
  border: 1px solid #8b7355;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navigation-image {
  width: 70%;
  height: 80%;
  object-fit: contain;
}

/*--------------------- FEATURED STORY SECTION -------------------------*/
.featured-story {
  background-color: #f0eadc;
  padding: 0px 0 60px 0;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}

.pink-flower {
  width: auto;
  height: 100%;
  object-fit: contain;

  display: flex;
  align-items: center;
  justify-content: end;

  position: absolute;
  right: 0;
  bottom: 0;

  z-index: 0;
}

.story-container {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 95%;
  max-width: 100%;
  margin: 0 auto;
}

.story-image {
  width: 40%;
  height: 100%;

  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.story-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 700px;
}

.story-content {
  width: 60%;
  height: 100%;
  padding-right: 10%;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  box-sizing: border-box;
}

.story-title {
  font-family: "Satisfy", cursive;
  font-size: 48px;
  color: #8b7355;
  margin-bottom: 30px;
  position: relative;
}

.story-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100px;
  height: 3px;
  background: linear-gradient(90deg, #d4af37, #f4d03f);
}

.story-text {
  font-size: 29px;
  line-height: 1.6;
  color: #0e0e0e;
  text-align: justify;
  font-weight: 300;

  font-family: "Satisfy", cursive;
}

/* ---------------------------- PRODUCTS SECTION ---------------------------- */
.products {
  background: #f0eadc;
  padding: 40px 0;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 0 auto;
  padding: 0 20px;

  width: 95%;
}

.product-card {
  border-radius: 10px;
  background: transparent;
  overflow: hidden;
  transition: transform 0.3s ease;
}

/* .product-card:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
} */

.product-image {
  width: 100%;
  height: 400px;
  overflow: hidden;

  border-radius: 5px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.product-info {
  padding: 25px 0;
  box-sizing: border-box;
}

.product-info .row {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: start;
  justify-content: space-between;
}

.product-info .color-container {
  width: 40%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: start;

  gap: 4px;
}

.product-name {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
  line-height: 1.4;
}

.product-price {
  font-size: 15px;
  font-weight: 600;
  color: #de3a88;
  margin-bottom: 0px;
}

.product-rating {
  color: #f9ae40;
  font-size: 14px;
  margin-bottom: 0px;
}

.buy-now-btn {
  background: #3b0207;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.buy-now-btn:hover {
  background: #6b5b47;
}

/* ---------------------------- FOOTER SECTION ---------------------------- */
.footer-container-main {
  width: 100%;
  height: 100% !important;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #f0eadc !important;
  z-index: 0;
}

.footer {
  background: #eecf7b;
  padding: 60px 0 20px;
  color: #8b7355;

  width: 98%;
  height: 100% !important;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: relative;

  overflow: hidden;
  margin-bottom: 20px;

  border-radius: 10px;

  z-index: 10;
}

.footer-bg {
  width: 100%;
  height: 200px !important;
  background: #754f23 !important;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.footer-flower {
  width: 250px;
  height: 250px;
  object-fit: contain;

  position: absolute;
  top: -50px;
  left: -50px;

  z-index: 5;

  mix-blend-mode: multiply;
  -webkit-filter: drop-shadow(0 0 8px #eecf7b) brightness(1.1);
  filter: drop-shadow(0 0 8px #eecf7b) brightness(1.1);
}

.footer-container {
  width: 95%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 40px;
}

.footer-logo {
  width: 100%;
  height: 100%;

  margin-bottom: 20px;
  height: auto;
  width: 100%;

  display: flex;
  align-items: start;
  justify-content: start;
}

.footer-logo-img {
  width: 150px;
  height: 100%;
  object-fit: contain;

  opacity: 0.8;

  mix-blend-mode: multiply;
  -webkit-filter: drop-shadow(0 0 8px #eecf7b) brightness(1);
  filter: drop-shadow(0 0 8px #eecf7b) brightness(1);
}

.footer-line {
  width: 95%;
  height: 1px;
  background: #8b7355;

  margin-bottom: 40px;
}

.footer-left {
  width: 25%;
  height: 100%;
}

.footer-address h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #6b5b47;

  font-family: "Inter", sans-serif;
}

.footer-address p {
  line-height: 1.6;
  color: #8b7355;
  font-size: 14px;
}

.footer-center {
  width: 35%;
  height: 100%;
  padding-left: 10%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.footer-links h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #6b5b47;

  font-family: "Inter", sans-serif;
}

.footer-links ul {
  list-style: none;
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-links a {
  font-size: 14px;
  color: #8b7355;
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;
}

.footer-links a:hover {
  color: #6b5b47;
}

.footer-right {
  width: 35%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;

  text-align: right;
}

.footer-contact {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.footer-contact h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #6b5b47;
  width: 100%;
  text-align: start;

  font-family: "Inter", sans-serif;
}

.footer-contact p {
  font-size: 14px;
  line-height: 1.6;
  color: #8b7355;
  margin-bottom: 10px;
  width: 100%;
  text-align: start;
  font-family: "Inter", sans-serif;
}

.footer-social {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.footer-social .social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #6b5b477a;
  color: #000;
  display: flex;
  cursor: pointer;
  transition: background 0.3s ease;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.footer-social .social-icon:hover {
  background: #8b735558;
}

.footer-social .social-icon svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Style specific social icons */
.footer-social .icon-facebook {
  width: 12px;
}

.footer-social .icon-instagram {
  width: 18px;
}

.footer-social .icon-youtube {
  width: 22px;
}

.footer-social .icon-tiktok {
  width: 18px;
}

.footer-social .icon-twitter {
  width: 18px;
}

.footer-social .icon-pinterest {
  width: 18px;
}

.footer-bottom {
  width: 95%;
  height: 100%;

  text-align: start;
  padding-top: 20px;
  border-top: 1px solid rgba(139, 115, 85, 0.3);

  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

.footer-bottom p {
  color: #8b7355;
  font-size: 14px;

  width: 100%;

  padding-left: 20px;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

/* MOBILE NAVIGATION */
.mobile-nav-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1001;
}

.mobile-nav-toggle span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #2f2f2f;
  transition: all 0.3s ease-in-out;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .mobile-nav-toggle {
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .nav-left {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100vh;
    background: #f0eadc;
    flex-direction: column;
    padding: 80px 40px;
    transition: left 0.3s ease-in-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }

  .nav-left.active {
    left: 0;
  }

  .mobile-nav-toggle.active span:first-child {
    transform: rotate(45deg) translate(6px, 6px);
  }

  .mobile-nav-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .mobile-nav-toggle.active span:last-child {
    transform: rotate(-45deg) translate(6px, -6px);
  }

  .navbar {
    flex-direction: column;
    gap: 20px;
  }

  .nav-left {
    gap: 20px;
  }

  .logo {
    position: static;
    transform: none;
  }

  .hero-container {
    flex-direction: column;
    gap: 20px;
  }

  .hero .ornate-border {
    width: 280px;
    height: 350px;
  }

  /* ---------------------------- COLLECTIONS SECTION ---------------------------- */
  .collections-header {
    height: 300px;
    margin-top: -150px;
  }

  .collections-round {
    width: 150px;
    height: 150px;
  }

  .collections-left-flower {
    width: 150px;
    height: 150px;
    object-fit: contain;

    position: absolute;
    left: -50px;
    z-index: 10;
  }

  .collections-right-flower {
    width: 150px;
    height: 150px;
    object-fit: contain;

    position: absolute;
    right: -50px;
    z-index: 10;
  }

  .line-left {
    width: calc(50% - 70px);
    height: 1px;
    background: #2f2f2f;

    position: absolute;
    left: 0px;
    top: 50%;
  }

  .line-right {
    width: calc(50% - 70px);
    height: 1px;
    background: #2f2f2f;

    position: absolute;
    right: 0px;
    top: 50%;

    z-index: 10;
  }

  .stamp-text p {
    font-size: 10px;
  }

  .stamp-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: -40px !important;
    margin-bottom: 20px;
  }

  .featured-story {
    padding: 0px 0 20px 0;
  }

  .story-container {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .story-image {
    width: 100%;
    height: 100%;

    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .story-content {
    width: 100%;
    padding-left: 0;
    padding: 0;
  }

  .story-title {
    font-size: 36px;
  }

  .story-text {
    font-size: 16px;
  }

  .products-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    width: 95%;
    padding: 0px;
  }

  .footer-container {
    flex-direction: column;
    gap: 40px;
  }

  .footer-center {
    width: 100%;
    height: 100%;
    padding-left: 0%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-links {
    width: 100%;
    height: 100%;
    padding-left: 0%;
    box-sizing: border-box;
  }

  .footer-links h4 {
    text-align: center;
  }

  .footer-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-links li {
    text-align: center;
    font-size: 14px;
  }

  .footer-links a {
    text-align: center;
    font-size: 14px;
  }

  .footer-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-right {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-address h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #6b5b47;

    font-family: "Inter", sans-serif;
  }

  .footer-address p {
    text-align: center;
    line-height: 1.6;
    color: #8b7355;
  }

  .footer-contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .footer-contact h4 {
    width: 100%;
    text-align: center;
  }

  .footer-contact p {
    text-align: center;
  }

  .footer-social {
    width: 100%;
    justify-content: center;
  }

  .footer-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-bottom p {
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .hero .ornate-border {
    width: 250px;
    height: 320px;
  }

  .story-title {
    font-size: 28px;
  }

  .ornate-frame {
    width: 250px;
    height: 320px;
  }
}

/* ---------------------------- COLLECTIONS SECTION ---------------------------- */

.collections-body {
  background: #f0eadc;

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.collections-layout {
  width: 100%;
  height: 100%;
  background: #f0eadc;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.collections-layout img {
  width: 100%;
  height: auto;

  padding: 0px;
  margin: 0px;
}

.collections-layout .content {
  width: 100%;
  height: 100%;
  background: transparent;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.collections-layout .content img {
  width: auto;
  height: 90%;
  object-fit: contain;
}

.collections-layout h2 {
  font-family: "Satisfy";
  font-style: normal;
  font-weight: 400;
  font-size: 150px;

  color: #ffffff;

  text-shadow: -12px 12px 4px rgba(0, 0, 0, 0.7);

  position: absolute;
  left: 0%;
  top: 0%;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
}

/* ---------------------------- COLLECTIONS SECTION ---------------------------- */
.collections-layout-custom {
  width: 100%;
  height: 100%;
  background: #f0eadc;

  position: relative;
  min-height: 300px;
}

.collections-layout-custom .bn {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collections-layout-custom .left-overlay {
  width: 50%;
  height: 100%;
  object-fit: contain;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.collections-layout-custom .content {
  width: 100%;
  height: 100%;
  background: transparent;

  display: flex;
  align-items: end;
  justify-content: end;

  position: absolute;
  right: 5%;
  bottom: 5%;
  z-index: 1;
}

.collections-layout-custom .content h2 {
  font-family: "Luxurious Script", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 200px;
  line-height: 1;
  color: #ffffff;
  text-shadow: -12px 12px 4px rgba(0, 0, 0, 0.7);
}

